
<html>
<body>
    <h1>Privacy Policy</h1>
    <p>Updated at 2021-08-09</p>

    <p> As of now, this website is being developed just for learning purposes and I am the only one who is logging in.
    Insructions will be updated as more client apps will be connected to this identity provider</p>
</body>
</html>
